body{
    background-color: #f9f9f9
}
/*NAVBAR*/
#navbar_main{
    border-bottom: 2px solid grey;
    padding-bottom: 3px;
    padding-top: 20px
}
#navbar_main > div > div > div > a {
    padding-bottom: 15px;
}
#navbar_main > div > div > div > i {
    padding-bottom: 15px;
}
#navbar_main > div > div > div > i > span{
    margin-left: 15px;
    color: black;
    font-size: 15px;   
}
.fa-search{
    margin-left: 10px;
    
}
/*CATEGORY SECTION*/
#category{
    border-bottom: 2px solid grey;
}
.fa-user-circle{
    color: #8a151b;
    font-size: 30px;
    
}
#form_div{
    position: relative;
    width:100%;
}
#form_div > input {
    background-color: #8b8b8b;
    margin-left: 15px
}
#form_div > button{
    position: absolute;
    bottom: 4px
}
#form_div > ::-webkit-input-placeholder { /* WebKit browsers */
    color: #d2d2d2;
    text-align: right;
    direction: rtl
}
#form_div > form > ::-webkit-input{
    text-align: end
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    text-align: right;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    text-align: right;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
    text-align: right;
}
/*Banner & Category Icon*/
#B_cat{
    background-color: #d2d2d2;
    padding: 0;
    margin-top: 15px;
}
#icon_circle{
    background-color: #f9f9f9;
    border-radius: 50%;
    margin-top: 25px;
    height: 100px;
    width: 100px!important;
    box-shadow: 1px 2px 9px 5px #888888;
}


#icon_circle > a > h6 {
    font-size: 13px;
    text-align: center;
    margin-top: 3px;
}
.swiper-container{
    height: 160px;
}
